define host{
	name				       generic-host
	max_check_attempts		   5
	check_interval             1
	retry-interval             1
	active_checks_enabled	   1
	check_period               24x7
	notification_interval      30
	notification_period        24x7
	notification_options       d,r,u
	notifications_enabled      1
	event_handler_enabled      0
	flap_detection_enabled     1
	process_perf_data          1
	register                   0
	contact_groups             admins
	{% if shinken_mods['misc'] and ('forward_nagios' in shinken_mods['misc']) %}
	contacts			       nagios
	{% endif %}
}
