[Unit]
Description=Shinken target
Wants=shinken-poller.service
Wants=shinken-reactionner.service
Wants=shinken-broker.service
Wants=shinken-receiver.service
Wants=shinken-scheduler.service
Wants=shinken-arbiter.service
