# {{ ansible_managed }}

## Module:      OpenIO
## Loaded by:	  Arbiter
# Used to load hosts from the OpenIO dashboard
define module {
   module_name      openio_import
   module_type      openio_import
   security_key     {{ shinken_openio_import.key }}
   host             {{ shinken_openio_import.host }}
   port             {{ shinken_openio_import.port }}
}
