define contact {
   contact_name nagios
   service_notification_period 24x7
   host_notification_period 24x7
   service_notification_options w,u,c,r,f,s
   host_notification_options d,u,r,f,s
   service_notification_commands nagios-forward-service-alert
   host_notification_commands nagios-forward-host-alert
}
