define web_admin {
    use generic-contact
    contact_name    webadmin
    alias           Web Administrator
    email           admin@localhost
    password        admin
    is_admin        1
    expert	        1
}
